.community-page-card-container {
	overflow-y: scroll;
}


.community-page-card {
	width: 94%;
	height: auto;
	background-color: var(--less-green);

	margin: 10px;
	padding: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;

	color: var(--really-green);

	transition: 0.4s ease;
}

.community-page-card-text {
	width: 100%;
	height: auto;

	padding-left: 10px;

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.community-page-card-text-header {
	font-weight: 500;
	font-size: 20px;
}

.community-page-card-text-description {
	font-weight: 400;
	font-size: 15px;
}

.community-page-card-text-content {
	font-weight: 400;
	font-size: 17px;
}

.community-page-card-bottom {
	width: 100%;
	height: auto;

	padding-left: 10px;
	margin-top: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

	user-select: none;
}

.community-page-card-bottom-elem-container {
	width: 3.4rem;
	height: 1.2rem;

	margin: 5px	;
	padding: 4px;

	/* background-color: var(--less-green-dark); */
	border-radius: 4px;

	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	text-align: center;
}

.community-page-card-bottom-elem {
	width: 50%;
}

.community-page-card-bottom-elem-text {
	font-size: 25px;
	cursor: pointer;
}

.post-header {
	font-weight: bold;
	font-size: 17px;
	margin: 10px;
}

.post-body {
	width: 100%;
	height: 80%;

	display: flex;
	flex-direction: column;

	align-items: center;
}

.post-rating {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.post-rating-title {
	width: 22%;
	margin: 1.5%;
	font-weight: bold;
}

.post-rating-input {
	width: 73%;
	outline: transparent;
	border: none;
	border-radius: 20px;
	padding-left: 2%;
	padding-right: 2%;
	font: inherit;
}

.post-content {
	width: 90%;
	height: 80%;
	display: flex;
	flex-direction: row;

	margin: 10px;
}

.post-content-title {
	width: 22%;
	margin: 1.5%;
	font-weight: bold;
}

.post-content-input {
	width: 73%;
	height: 80%;

	font: inherit;
	
	outline: transparent;
	border: none;

	border-radius: 20px;
	padding: 1% 2%;

	resize: none;
}

.post-submit-button {
	font: inherit;
	font-weight: bolder;
	width: 20%;
	height: 2rem;
	outline: transparent;
	border: 2px solid var(--really-green);
	background-color: var(--less-green);
	border-radius: 5px;
	cursor: pointer;
}