:root {
    --green: #8CE149;

}

body {
    margin: 0%;
    padding: 0%;
}

.top-container {
    height: 10%;
    padding: 30px;
    background: #8CE149;
}

.top-title {
    width: 100%;
    text-align: center;

    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px; 

    color: #FFFFFF;
}

.middle-container {
    display: flex;
    flex-direction: row;
}

.middle-container-left-sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 2px solid black;
}

.left-buttons {
    display: flex;
    flex-direction: column;
}

.left-sidebar-button {
    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 10%;
}

.searchbar {
    width: 50%;
    height: 50px;

    border: 2px solid black;
    border-radius: 10px;
}

.right-buttons {
    display: flex;
    flex-direction: row;   
}

.right-sidebar-button {
    width: 50px;
    height: 50px;

    
    border: 2px solid black;
    border-radius: 10%;
}

.middle-container-right-side {
    width: 75%;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
}

.bottom-container {
    height: 15%;
    background-color: var(--green, #0f0);

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}