:root {
    --green: #8CE149;

}

body {
    margin: 0%;
    padding: 0%;
}

.top-container {
    height: 10%;
    padding: 30px;
    background: #8CE149;
}

.top-title {
    width: 100%;
    text-align: center;

    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px; 

    color: #FFFFFF;
}

.middle-container {
    display: flex;
    flex-direction: row;
}

.middle-container-left-sidebar {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;

    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 10px;
    border-right: 2px solid black;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-sidebar-button {
    margin: 15px;
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;

    /* border: 2px solid black; */
    border-radius: 10%;

    text-align: center;
    padding: auto;
}

.left-img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    width: auto;
    border-radius: 50%;
    align-self: center;
}

.left-checkbox {
    height: 20%;
}

.searchbar {
    width: 70%;
    height: 40px;

    margin: 10px;
    padding-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 2px solid black;
    border-radius: 20px;

    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-size: 25px; 
}

.right-buttons {
    margin: 10px;
    width: 30%;
    height: 70px;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
}

.right-sidebar-button {
    margin: 10px;
    width: 60px;
    height: 100%;

    display: flex;

    border: 2px solid black;
    border-radius: 50%;
    
    justify-content: center;
    align-items: center;
}

.right-img {
    width: 40px;
    height: 40px;
    width: auto;
    border-radius: 50%;
}

.searchbar-container {
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.middle-container-right-side {
    width: 80%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-map-frame {
    width: 80%;
    height: 60%;

    margin: 20px;

    border: 2px solid black;

    border-radius: 20px;
}

.bottom-container {
    height: 15%;
    background-color: var(--green, #0f0);

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bottom-buttons-container {
    display: flex;
    flex-direction: row;

}

.bot-img
{
    position: absolute;
    height: 80px;
    width: 80px;
    top:25%;
}

.map
{
    left:12.5%;
}

.network
{
    right:12.5%
}

.search
{
    margin:0 auto;
}