@import './App.css';

.login-content-container {
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-self: center;
    justify-self: center;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: white;

    border: 2px solid var(--extra-green);
    border-radius: 30px;
    background-color: var(--extra-green);
}

.login-element-container {
    width: 60%;
    margin: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.login-container-label {
    width: 50%;
    margin-bottom: 10px;
    padding-right: 30px;
    text-align: right;
}

.login-textbox {
    padding-left: 10px;
    width: 50%;
    height: 30px;
    border: 0px solid black;
    border-radius: 5px;
}

.login-bottom-container {
    width: 60%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: right;
}

.forgot-password-label {
    margin-left: 10%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;

    cursor: pointer;
}

.login-submit-container {
    margin-left: 20px;
    border-radius: 10px;
    width: 3rem;
    height: auto;
    background-color: var(--more-green);
    cursor: pointer;
    text-align: center;
}
