.restaurant-header {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

	width: 100%;
}

.restaurant-header-text {
	width: 68%;
	margin: 1%;
	padding: 1%;

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.restaurant-header-text-title {
	font-weight: 500;
	font-size: 25px;
}

.restaurant-header-text-description {
	font-weight: 400;
	font-size: 15px;
}

.restaurant-header-text-restrictions {
	height: auto;
}

.restaurant-header-restrictions-img {
	margin: 0px 3px;
	width: 25px;
}

.restaurant-header-text-rating {
	font-size: 20px;
	color: var(--really-green);
}

.restaurant-header-rate-container {
	width: 28%;
	margin: 1%;
	padding: 1%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.restaurant-header-rate {
	font-family: inherit;

	width: 75%;
	height: 3rem;

	border: 2px solid var(--really-green);
    background-color: var(--less-green);
	border-radius: 10px;
	outline: transparent;

	color: var(--really-green);
	font-weight: bold;
	font-size: 18px;

	transition: 0.4s ease;
}

.restaurant-header-rate:hover {
    color: white;
    background-color: var(--really-green);
}

.restaurant-info-content {
	width: 100%;
	overflow-y: scroll;
}

.restaurant-menu {
	width: 98%;
	padding: 1%;
}

.restaurant-menu-item {
	background-color: var(--less-green-dark);
	border-radius: 4px;
	margin: 1%;
	padding: 3%;
	width: 94%;
	height: 2.5rem;
}

.vegan {
	padding: 1%;
	background-color: var(--more-green);
	border-radius: 50%;
}

.vegetarian {
	padding: 1%;
	background-color: var(--extra-green);
	border-radius: 50%;
}

.lactose-free {
	padding: 1%;
	background-color: var(--more-green);
	border-radius: 50%;
}

.gluten-free {
	padding: 1%;
	background-color: var(--really-green);
	border-radius: 50%;
}